In [1]:
import findspark
findspark.init()
import pyspark
sc = pyspark.SparkContext()
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/12/15 12:38:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# 1. Reading the data into a Dataframe

In [2]:
df =  spark.read.json("/home/ubuntu/iot_devices")
df.show()

+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|battery_level|c02_level|cca2|cca3|           cn|device_id|         device_name|humidity|             ip|latitude|   lcd|longitude|  scale|temp|    timestamp|
+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|            8|      868|  US| USA|United States|        1|meter-gauge-1xbYRYcj|      51|   68.161.225.1|    38.0| green|    -97.0|Celsius|  34|1458444054093|
|            7|     1473|  NO| NOR|       Norway|        2|   sensor-pad-2n2Pea|      70|  213.161.254.1|   62.47|   red|     6.15|Celsius|  11|1458444054119|
|            2|     1556|  IT| ITA|        Italy|        3| device-mac-36TWSKiT|      44|      88.36.5.1|   42.83|   red|    12.83|Celsius|  19|1458444054120|
|            6|     1080|  US| USA|United States|        4|   sensor-pad-4mzWkz|      32|  66.39.173.154|   44.06|yellow|  -121.32|Celsius|  28|1458444054121|
|            4|      931|  PH| PHL|  Philippines|        5|therm-stick-5gimp...|      62|    203.82.41.9|   14.58| green|   120.97|Celsius|  25|1458444054122|
|            3|     1210|  US| USA|United States|        6|sensor-pad-6al7RT...|      51| 204.116.105.67|   35.93|yellow|   -85.46|Celsius|  27|1458444054122|
|            3|     1129|  CN| CHN|        China|        7|meter-gauge-7GeDoanM|      26|  220.173.179.1|   22.82|yellow|   108.32|Celsius|  18|1458444054123|
|            0|     1536|  JP| JPN|        Japan|        8|sensor-pad-8xUD6p...|      35|  210.173.177.1|   35.69|   red|   139.69|Celsius|  27|1458444054123|
|            3|      807|  JP| JPN|        Japan|        9| device-mac-9GcjZ2pw|      85|  118.23.68.227|   35.69| green|   139.69|Celsius|  13|1458444054124|
|            7|     1470|  US| USA|United States|       10|sensor-pad-10Bsyw...|      56|208.109.163.218|   33.61|   red|  -111.89|Celsius|  26|1458444054125|
|            3|     1544|  IT| ITA|        Italy|       11|meter-gauge-11dlM...|      85|  88.213.191.34|   42.83|   red|    12.83|Celsius|  16|1458444054125|
|            0|     1260|  US| USA|United States|       12|sensor-pad-12Y2kIm0o|      92|    68.28.91.22|    38.0|yellow|    -97.0|Celsius|  12|1458444054126|
|            6|     1007|  IN| IND|        India|       13|meter-gauge-13Gro...|      92| 59.144.114.250|    28.6|yellow|     77.2|Celsius|  13|1458444054127|
|            1|     1346|  NO| NOR|       Norway|       14|sensor-pad-14QL93...|      90| 193.156.90.200|   59.95|yellow|    10.75|Celsius|  16|1458444054127|
|            9|     1259|  US| USA|United States|       15|  device-mac-15se6mZ|      70|    67.185.72.1|   47.41|yellow|   -122.0|Celsius|  13|1458444054128|
|            4|     1425|  US| USA|United States|       16|sensor-pad-16aXmI...|      53|   68.85.85.106|    38.0|   red|    -97.0|Celsius|  15|1458444054128|
|            0|     1466|  US| USA|United States|       17|meter-gauge-17zb8...|      98|161.188.212.254|   39.95|   red|   -75.16|Celsius|  31|1458444054129|
|            4|     1096|  CN| CHN|        China|       18|sensor-pad-18XULN9Xv|      25|  221.3.128.242|   25.04|yellow|   102.72|Celsius|  31|1458444054130|
|            9|     1531|  US| USA|United States|       19|meter-gauge-19eg1...|      75| 64.124.180.215|    38.0|   red|    -97.0|Celsius|  29|1458444054130|
|            7|     1155|  US| USA|United States|       20|sensor-pad-20gFNf...|      33|  66.153.162.66|   33.94|yellow|   -78.92|Celsius|  10|1458444054131|
+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
only showing top 20 rows

# 2. Convert the Dataframe into a temporary view called iot.

In [6]:
df.createOrReplaceTempView('iot')
spark.sql("select * from iot").show(10, False)

+-------------+---------+----+----+-------------+---------+---------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|battery_level|c02_level|cca2|cca3|cn           |device_id|device_name          |humidity|ip             |latitude|lcd   |longitude|scale  |temp|timestamp    |
+-------------+---------+----+----+-------------+---------+---------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|8            |868      |US  |USA |United States|1        |meter-gauge-1xbYRYcj |51      |68.161.225.1   |38.0    |green |-97.0    |Celsius|34  |1458444054093|
|7            |1473     |NO  |NOR |Norway       |2        |sensor-pad-2n2Pea    |70      |213.161.254.1  |62.47   |red   |6.15     |Celsius|11  |1458444054119|
|2            |1556     |IT  |ITA |Italy        |3        |device-mac-36TWSKiT  |44      |88.36.5.1      |42.83   |red   |12.83    |Celsius|19  |1458444054120|
|6            |1080     |US  |USA |United States|4        |sensor-pad-4mzWkz    |32      |66.39.173.154  |44.06   |yellow|-121.32  |Celsius|28  |1458444054121|
|4            |931      |PH  |PHL |Philippines  |5        |therm-stick-5gimpUrBB|62      |203.82.41.9    |14.58   |green |120.97   |Celsius|25  |1458444054122|
|3            |1210     |US  |USA |United States|6        |sensor-pad-6al7RTAobR|51      |204.116.105.67 |35.93   |yellow|-85.46   |Celsius|27  |1458444054122|
|3            |1129     |CN  |CHN |China        |7        |meter-gauge-7GeDoanM |26      |220.173.179.1  |22.82   |yellow|108.32   |Celsius|18  |1458444054123|
|0            |1536     |JP  |JPN |Japan        |8        |sensor-pad-8xUD6pzsQI|35      |210.173.177.1  |35.69   |red   |139.69   |Celsius|27  |1458444054123|
|3            |807      |JP  |JPN |Japan        |9        |device-mac-9GcjZ2pw  |85      |118.23.68.227  |35.69   |green |139.69   |Celsius|13  |1458444054124|
|7            |1470     |US  |USA |United States|10       |sensor-pad-10BsywSYUF|56      |208.109.163.218|33.61   |red   |-111.89  |Celsius|26  |1458444054125|
+-------------+---------+----+----+-------------+---------+---------------------+--------+---------------+--------+------+---------+-------+----+-------------+
only showing top 10 rows

# 3. Count how many devices are there from each country and display the output.

In [40]:
spark.sql("select cn, count(device_id) from iot group by cn order by cn").show(30)

+--------------------+----------------+
|                  cn|count(device_id)|
+--------------------+----------------+
|                    |            1810|
|         Afghanistan|              19|
|             Albania|              32|
|             Algeria|              34|
|      American Samoa|               3|
|             Andorra|               4|
|              Angola|              28|
|            Anguilla|               7|
| Antigua and Barbuda|              60|
|           Argentina|             978|
|             Armenia|              34|
|               Aruba|               8|
|           Australia|            3119|
|             Austria|            1462|
|          Azerbaijan|              49|
|             Bahamas|              18|
|             Bahrain|              55|
|          Bangladesh|             153|
|            Barbados|              38|
|             Belarus|             123|
|             Belgium|             666|
|              Belize|              13|
|               Benin|               3|
|             Bermuda|              53|
|              Bhutan|               8|
|             Bolivia|             108|
|Bosnia and Herzeg...|             106|
|            Botswana|              12|
|              Brazil|            3224|
|British Indian Oc...|               2|
+--------------------+----------------+
only showing top 30 rows

# 4. Display all the countries whose carbon dioxide level is more than 1400. Sort the output in descending order.

In [41]:
spark.sql("select cn, max(c02_level) as max_c02_level from iot group by cn having max_c02_level > 1400 order by max_c02_level DESC").show()

+-----------------+-------------+
|               cn|max_c02_level|
+-----------------+-------------+
|          Finland|         1599|
|         Thailand|         1599|
|           Sweden|         1599|
|          Ireland|         1599|
|             Peru|         1599|
|      Philippines|         1599|
|    United States|         1599|
|           Turkey|         1599|
|            China|         1599|
|           Russia|         1599|
|            India|         1599|
|           France|         1599|
|          Bolivia|         1599|
|        Argentina|         1599|
|            Italy|         1599|
|Republic of Korea|         1599|
|           Norway|         1599|
|          Denmark|         1599|
|            Spain|         1599|
|          Germany|         1599|
+-----------------+-------------+
only showing top 20 rows

# 5. Select all countries' devices with high-levels of C02 and group by cca3 and order by device_ids (Hint: For high CO2 level, the LCD status will be RED).

In [47]:
spark.sql("select cca3, count(device_id) as high_c02_devices_count from iot where lcd='red' group by cca3  order by high_c02_devices_count").show()

+----+----------------------+
|cca3|high_c02_devices_count|
+----+----------------------+
| IOT|                     1|
| CIV|                     1|
| MHL|                     1|
| GIB|                     1|
| TLS|                     1|
| GGY|                     1|
| LBR|                     1|
| SLB|                     1|
| GAB|                     1|
| TJK|                     1|
| REU|                     1|
| FLK|                     1|
| FSM|                     1|
| TKM|                     1|
| AND|                     1|
| ABW|                     2|
| VUT|                     2|
| LCA|                     2|
| GMB|                     2|
| VCT|                     2|
+----+----------------------+
only showing top 20 rows

In [49]:
spark.sql("select cca3, device_id from iot where lcd='red' order by cca3, device_id").show()

+----+---------+
|cca3|device_id|
+----+---------+
| ABW|     3251|
| ABW|   196547|
| AFG|   122437|
| AFG|   131489|
| AFG|   136829|
| AFG|   172471|
| AFG|   191633|
| AFG|   197785|
| AGO|    24240|
| AGO|    30228|
| AGO|    33254|
| AGO|    40274|
| AGO|    65166|
| AGO|    86009|
| AGO|   166577|
| AGO|   187756|
| ALA|    37695|
| ALA|    64390|
| ALA|   104561|
| ALA|   162539|
+----+---------+
only showing top 20 rows

# 6. Find out all devices in countries whose batteries need replacements.

In [22]:
spark.sql("select distinct(battery_level) from iot").show()

+-------------+
|battery_level|
+-------------+
|            0|
|            7|
|            6|
|            9|
|            5|
|            1|
|            3|
|            8|
|            2|
|            4|
+-------------+

In [58]:
spark.sql("select cn, device_id, device_name, battery_level from iot where battery_level = 0").show()

+-----------------+---------+--------------------+-------------+
|               cn|device_id|         device_name|battery_level|
+-----------------+---------+--------------------+-------------+
|            Japan|        8|sensor-pad-8xUD6p...|            0|
|    United States|       12|sensor-pad-12Y2kIm0o|            0|
|    United States|       17|meter-gauge-17zb8...|            0|
|          Germany|       44| sensor-pad-448DeWGL|            0|
|           Canada|       80|sensor-pad-80TY4d...|            0|
|Republic of Korea|       92| sensor-pad-92vxuq7e|            0|
|    United States|       98|sensor-pad-98mJQA...|            0|
|            Japan|      107|meter-gauge-1075K...|            0|
|        Australia|      111|device-mac-111WYt...|            0|
|    United States|      116| sensor-pad-11663yUf|            0|
|            China|      117|device-mac-117mcc...|            0|
|    United States|      123|device-mac-123zvY...|            0|
|    United States|      131|meter-gauge-131Lb...|            0|
|    United States|      134|sensor-pad-1344UG...|            0|
|          Germany|      140|sensor-pad-140tq1s6t|            0|
|            China|      151|meter-gauge-151Gj...|            0|
|            China|      156|sensor-pad-156nfj...|            0|
|    United States|      167|meter-gauge-167c4...|            0|
|    United States|      179|meter-gauge-1794X...|            0|
|     South Africa|      180|sensor-pad-180lj1...|            0|
+-----------------+---------+--------------------+-------------+
only showing top 20 rows